body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: roboto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px 0;
    background-color: #1F2937;
}

.logo>a {
    text-decoration: none;
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

header>nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

header>nav>ul>li>a {
    text-decoration: none;
    font-size: 20px;
    color: #F9FAF8;
}

.hero-section {
    display: flex;
    padding: 100px 200px;
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.hero-left-side>p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left-side>button {
    background-color: #3882F6;;
    color: #E5E7EB;
    border: 0;
    border-radius: 5px;
    padding: 8px 30px;
    align-self: flex-start;
    font-size: 18px;
}

.hero-section>img {
    max-width: 100%;
    width: 50%;
    object-fit: cover;
}

.random-info-section {
    padding-bottom: 75px;
    text-align: center;
}

.random-info-section>h2 {
    margin: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.random-info-section>ul {
    display: flex; 
    padding: 0 250px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.random-info-section>ul>li {
    list-style: none;
}

.random-info-section>ul>li>img {
    max-width: 150px;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.random-info-section>ul>li>p {
    max-width: 150px;
    font-weight: 300;
}

.quote {
    padding: 100px 275px;
    background-color: #E5E7EB;
}

.quote>h2 {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    font-style: italic;
}

.quote>p {
    text-align: end;
    padding-right: 30px;
    font-weight: 700;
}

.sign-up {
    padding: 75px 200px;
}

.sign-up-container {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 40px 75px;
    display: flex;
    justify-content: space-between;
}

.sign-up-left>h3,
.sign-up-left>p {
    margin: 0;
    color: #E5E7EB;
}

.sign-up-right {
    align-self: center;
}

.sign-up-right>button {
    background-color: #3882F6;
    border: 1px solid #E5E7EB;
    padding: 8px 30px;
    border-radius: 10px;
    color: #E5E7EB;
    font-weight: 700;
    font-size: 14px;
}

footer {
    background-color: #1F2937;
    text-align: center;
    margin: 0;
    padding: 20px;
}

footer>p {
    color: #E5E7EB;
}

button:hover {
    background-color: blue;
}

button:active {
    border: 1px solid black;
}